.c1{
	background-color: grey;
}
.c2{ background-color:blue;
 }
 .c3{
 	background-color: green;
 }
 /*absolute positioning*/
 .c4{
  border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: ;
  left: ;
  background-color: cadetblue;
 }

 /*relative positionig*/
 .c5{
 border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 70%;
  background-color: brown;
 }
 /*fixed*/
.c6{
 	border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 70%;
  background-color: blueviolet;
 }
 /* sticky*/
.c7{
 	border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: blueviolet;
 }
/*static*/
.c8{
 border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: purple;
 }
.c10{
 border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: purple;
  max-width:44 ;
  max-height: 52;
  min-width: 31;
  min-height: 32;
 }
.c11{
 border: 2px solid black;
  width: 30%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 0%;
  background-color: purple;
  max-height: 30;
  max-width: 50;
  min-height: 15;
  min-width: 70;
 }


